body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../images/fresno-1932212_1920.png);
}

* {
    box-sizing: border-box;
}

.clearfix {
    clear: both;
}

.grid-container {
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
}

h1 {
    background-color: white;
    font-family: 'Londrina Sketch', cursive;
    text-align: center;
    color: dimgrey;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
    font-size: 4em;
}

.one {
    //    display: flex;
    height: 700px;
}

#ruler,
#ruler li {
    padding-right: 1cm;
    list-style: none;
    display: inline-block;
}


/* IE6-7 Fix */

#ruler,
#ruler li {
    *display: inline;
}

#ruler {
    width: 22cm;
    background: lightYellow;
    box-shadow: 0 -1px 1em hsl(60, 60%, 84%) inset;
    border-radius: 2px;
    border: 1px solid #ccc;
    color: #ccc;
    margin: 60px 10px 0 0;
    height: 5em;
    padding-right: 1cm;
    white-space: nowrap;
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
}

#ruler li {
    padding-left: 1cm;
    width: 2em;
    margin: .64em -1em -.64em;
    text-align: center;
    position: relative;
    text-shadow: 1px 1px hsl(60, 60%, 84%);
}

#ruler li:before {
    content: '';
    position: absolute;
    border-left: 1px solid #ccc;
    height: .64em;
    top: -.64em;
    right: 1em;
}

.box_calcualtor {
    justify-content: center;
    height: 600px;
    width: 60%;
    margin: 30px auto;
    background-color: dimgray;
    border-width: 5px;
    border-style: outset;
}

.calculator {
    display: flex;
}

.area_result {
    color: black;
    display: flex;
    flex: 1;
    padding: 3px;
    overflow: hidden;
    justify-content: flex-end;
    align-items: center;
    font-size: 2.5em;
    height: 100px;
    width: 80%;
    margin: 30px 30px 10px 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 -6px rgba(0, 0, 0, 0.2);
}

.button {
    font-weight: bold;
    display: flex;
    flex: 1;
    height: 70px;
    margin: 10px;
    font-size: 2rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.button:hover {
    opacity: 0.5;
}

.button:active {
    box-shadow: 0px 0px rgba(0, 0, 0, 0.2);
    opacity: 0.5;
}

.button_reset {
    background-color: red;
    color: white;
}

.button_sum {
    background-color: limegreen;
    color: white;
}

.button_action {
    background-color: lightgrey;
}

.button_number {
    background-color: white;
}

.two {
    height: 400px;
}

.apptodo {
    margin: 30px auto;
    width: 60%;
    border-top: 4px dotted grey;
    box-shadow: 9px 10px rgba(0, 0, 0, 0.2);
    height: 300px;
    background-color: lightYellow;
    justify-content: center;
    overflow: overlay;
}

h2 {
    background-color: saddlebrown;
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

form {
    padding: 20px;
}

input {
    margin-bottom: 20px;
}

button:disabled,
button[disabled] {
    font-size: 1.2em;
    border: none;
    background-color: red;
    color: white;
}

button {
    font-size: 1.2em;
    background-color: forestgreen;
    color: white;
    border: none;
    border-radius: 5px;
}

#clear {
    font-size: 1.2em;
    border: none;
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

#textarea {
    width: 60%;
    height: 35px;
}

input:focus {
    border: 2px solid blue;
}

input {
    height: 15px;
    width: 15px;

}


.done {
    text-decoration: line-through;
    color: #ccc;
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 600px) {
    .box_calcualtor,
    .apptodo {
        width: 90%;
        transition: 1s;
    }
    .button {
        margin: 5px;
    }
}


